<table class="table table-striped border">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Nombre</th>
			<th scope="col">Instructor</th>
			<th scope="col">Duracion</th>
			<th scope="col">Categoria</th>
		</tr>
	</thead>
	<tbody>
		@for (course of courses; track course) {
			<tr>
				<th scope="row">{{ course.id }}</th>
				<td>{{ course.name }}</td>
				<td>{{ course.instructor }}</td>
				<td>{{ course.duration }}</td>
				<td>
					<dsb-badge-atom
						[text]="course.category"
						[type]="categoryMap[course.category]" >
                    </dsb-badge-atom>
				</td>
			</tr>
		}
	</tbody>
</table>
