<table class="table table-striped border">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Nombre</th>
			<th scope="col">Area</th>
			<th scope="col">Creditos</th>
			<th scope="col">Semestre</th>
		</tr>
	</thead>
	<tbody>
		@for (subject of subjects; track subject) {
			<tr>
				<th scope="row">{{ subject.id }}</th>
				<td>{{ subject.name }}</td>
				<td>
					<dsb-badge-atom
						[text]="subject.area"
						[type]="areaMap[subject.area]" >
                    </dsb-badge-atom>
				</td>
				<td>{{ subject.credits }}</td>
				<td>{{ subject.semester }}</td>
			</tr>
		}
	</tbody>
</table>
